{% extends "base.html" %}
{% block base %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Welcome to My Blog Page</h1>
    <p>This is my second django project.</p> 
</div>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h3>Profile</h3>
        <p>This is Sunny Rajbhar, a software engineer.</p>
        <p>And a creator and designer of this project</p>
      </div>
      <div class="col">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
  {% endblock %}