{% extends "base.html" %}
{% block base %}
<div class="container">
    <div class="row">
      <div class="col p-2">
        <form class = "col-5 mx-auto card p-3 shadow-lg" method="POST" >
            {% csrf_token %}
            <h4>Register</h4>
            <hr>
            {% if messages %}
            <div class="alert alert-success" role="alert">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
            {% endif %}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <p>Already have an account? <a href="/login/"> Click Here</a></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}